
[submodule "getting_familiar"]
	path = getting_familiar
	url = https://github.com/jamiesarahg/getting_familiar
[submodule "warmup_project"]
	path = warmup_project
	url = https://github.com/jamiesarahg/warmup_project
